* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;


}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
.sm-header-icon {
  position: relative;
  left: 40%;
  top: 20px;
} 

.lg-header-icon {
  position: relative;
  left: 30%;
  top: 20px;
}

#slack {
  display: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2em 0;
  margin: 0;
}

#profile_img {
  height: 88px;
  border-radius: 275px;
  object-fit: cover;
  margin-bottom: 25px;
}

main {
  padding: 0 120px;
}
.container {

  padding: 40px 0;
  width: 100%;
}

.btn-container {
  width: 100%;
}

button {
  height: 70px;
  width: 100%;
  border: none;
  border-radius: 6px;
  background-color: #e1d9d1;
  margin: 10px 0;
  cursor: pointer;
}
 a button:hover {
  background-color: gray;
 }

 .icons {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;

 }

 .icons .icon {
  margin: 10px;
  cursor: pointer;
 }


.contact-container{
  padding: 60px;
  width: fit-content;
  margin: 0 auto; 
}
.form-container{
  margin: 20px 0;
  width: 100%;
}
.form-container input {
  outline: none;
}
label p, p {
  margin: 7px 0;
}

p {
  font-size: small;
}
.names {
  display: flex;
  justify-content: space-between;
}
.name, .lastname {
  width: 45%;
}
input, textarea {
  display: block;
  text-indent: 5px;
  margin: 5px 0;
}
input{
  width: 100%;
  height: 35px;
  border: 1px solid grey;
  border-radius: 6px;
}
.message textarea{
  height: 100px;
  width: 100%;
  padding: 5px 0;
  resize: none;
  outline: none;
}

.message input::placeholder{
  
}

.check{
display: flex;
align-items: center;
}
.check input{  
width: 14px;
cursor:pointer;
margin-right:6px
}
.contact-btn{
  background-color: blue;
  color: white;
  height: 50px;
}

 footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

 }

 hr {
  margin: 0 auto;
  width: 80%;
 

 }



 @media only screen and (max-width: 800px) {
  
  main {
    padding: 30px;
  }
  footer {
    font-size: medium;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
  }
  .ing {
    margin-top: 40px;
   }

  .contact-container {
    padding: 20px 30px;
    font-size: x-small;
  }
   
  .names {
    display: flex;
    flex-direction: column;
  }
  .name, .lastname {
    width: 100%;
  }
  

  
 }