* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* background: #fff; */
}
/* header {
  min-height: 25vh;
}
main {
  min-height: 50vh;
}
footer {
  min-height: 25vh;
} */

.lg-header-icon {
  display: none;
}

.sm-header-icon {
  position: relative;
  left: 40%;
  top: 20px;
}

#slack {
  display: none;
}

.header {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
  padding: 2em 0;
  margin: 0;
}

#profile_img {
  height: 88px;
  border-radius: 275px;
  object-fit: cover;
  margin-bottom: 15px;
}


.container {
  display: flex;
  flex-direction: column;
  
}

